
<div class="row">
  <!-- loading -->
  <div class="col-md-6 col-sm-12 mx-auto text-center loading"
       *ngIf="loading">
    Validando...
  </div>
  <!-- alphabet soupt & form -->
  <div class="col-md-9 col-sm-12"
       *ngIf="!loading">

    <div>
      <button class="btn btn-primary"
              (click)="switchView()">
        Cambiar Vista
      </button>
    </div>

    <div class="form-group" [hidden]="tableView">
      <label for="AlphabetSoup">
        Sopa de Letras
      </label>
      <textarea [(ngModel)]="soup"
                class="form-control alphabet-soup"
                cols="{{size}}" rows="{{size}}"
                id="AlphabetSoup"
                placeholder="Sopa de Letras"></textarea>
    </div>

    <div [hidden]="!tableView">
      <div class="table-responsive">
        <table class="table">
          <tbody>
            <tr *ngFor="let line of tableSoup;let row = index;">
              <td class="text-center"
                  *ngFor="let chr of line;let col = index;"
                  id="{{row}}{{col}}">
                {{ chr }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <hr />

    <div class="row">
      <div class="col-md-4 col-sm-12">
        <div class="form-group">
          <label for="SoupSize">
            Tamaño de la Matríz
          </label>
          <input type="number"
                 class="form-control"
                 id="SoupSize"
                 [(ngModel)]="size"
                 placeholder="Tamaño de la Matríz" />
        </div>
      </div>
      <div class="col-md-4 col-sm-12">
        <div class="form-group">
          <label for="WordToFind">
            Palabra a Buscar
          </label>
          <input type="text"
                 class="form-control"
                 id="WordToFind"
                 [(ngModel)]="word"
                 placeholder="Palabra a Buscar" />
        </div>
      </div>
      <div class="col-md-4 col-sm-12">
        <button class="btn btn-primary btn-lg validate-button"
                (click)="validate()">
          Validar
        </button>
      </div>
    </div>

    <br />
    <hr />
    <br />


  </div>
  <!-- Results -->
  <div class="col-md-3 col-sm-12"
       *ngIf="!loading">
    <div [ngClass]="{'collapse': collapse}">
      <div class="d-flex justify-content-between align-items-center">
        <h3>Resultados</h3>
        <button class="btn btn-info"
                style="font-size:0.75rem;"
                (click)="clearResults()">
          Borrar resultados
        </button>
      </div>
      <hr />
      <ul class="list-group">
        <li class="list-group-item"
            *ngFor="let result of results"
            (mouseover)="highlight(result)"
            (mouseout)="setDefault(result)"
            style="cursor:pointer;">
          {{ result.word }}
          &nbsp;
          <span *ngIf="result.wordExists">
            SI existe
          </span>
          <span *ngIf="!result.wordExists">NO existe</span>
        </li>
      </ul>
    </div>
  </div>
</div>
