
.alphabet-soup{
    height:400px;
    text-align: center;

}
.validate-button{
    width: 100%;

}

.soup{
    padding: 50px 0;
    font-size: 2rem;

}

.loading{
    padding: 35px;
    font-size: 2rem;

}
td{
    font-weight: bold;
    font-size: 1rem;
}

.word-letter {
  font-weight: bolder;
  font-size: 2rem;
  background-color: darkblue;
  color:white;
}
